<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622237555414-6n0l88o9tco0u0efncfep8vfmnagunph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622237555414-6n0l88o9tco0u0efncfep8vfmnagunph</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>622237555414-ju8iedj5j9dko5um3idthvgjoclmoa0h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDuI1yIJqbedhD1KznzS-6-0Tl2DkRKAoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>622237555414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fireAuths</string>
	<key>PROJECT_ID</key>
	<string>fireauths-bcb95</string>
	<key>STORAGE_BUCKET</key>
	<string>fireauths-bcb95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622237555414:ios:4cebe078b518d37e424777</string>
</dict>
</plist>